<div class="header">
    <img src="images/logo.png" alt="logo" id="logo"/>
    <h3 class="text-muted">FameFinder</h3>
    <form class="navbar-form" id="search" role="search" ng-submit="clear();search()">
        <div class="form-group pull-left">
            <input type="text" class="form-control" data-ng-model="searchOptions.query" placeholder="Search">
        </div>
        <button type="button" class="btn btn-danger" data-ng-click="search()">
            <span class="glyphicon glyphicon-search"></span> Search
        </button>

        <div class="col-xs-3">
            <select ng-model="searchOptions.order"  ng-options="o for o in uiOptions.order track by o" class="form-control"></select>
        </div>

        <input type="submit" class="hidden"/>
    </form>
</div>
<br/>

<div id="wrapper" class="clearfix">

    <section id="results" role="results" scrollever="scrolled()">
        <table data-ng-show="hasResults()" class="table table-hover">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Views</th>
                    <th>Subscribers</th>
                    <th>G+</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(id, c) in resultChannels track by c.numSubscribers">
                    <td><img class="channelImage" ng-src="{{c.image}}" alt="Channel Thumbnail"/></td>
                    <td><b>{{c.title}}</b></td>
                    <td>{{c.shortDescription}}</td>
                    <td>{{c.numViews | number}}</td>
                    <td>{{c.numSubscribers | number}}</td>
                    <td><a data-ng-show="c.gPlus" href="https://plus.google.com/{{c.gPlus}}"><img src="images/googlePlus.jpg" alt="Google Plus"/></a></td>
                    <td>{{c.email}}</td>
                </tr>
            </tbody>
        </table>
    </section>
</div>

<div class="footer">
    <p>Made with ♥ and Coffee</p>
    <img id="preloader" src="images/preloader.gif" alt="loading more results" data-ng-show="loading"/>
</div>
